*{
box-sizing:border-box;
}


body{

background:#080808;

color:#ddd;

font-family:
"Microsoft JhengHei",
monospace;

margin:0;

}


header{

padding:30px;

border-bottom:1px solid #444;

}


h1{

color:#fff;

letter-spacing:3px;

}


.status{

margin-top:20px;

color:#aaa;

border-left:3px solid #900;

padding-left:15px;

}


.logo{

text-align:center;

margin:25px 0;

}

/* 算了就放這裡吧，qwq */

.logo img{

width:18px;

height:auto;

}


nav{

display:flex;

gap:10px;

padding:15px;

background:#111;

}



button{

background:#222;

color:white;

border:1px solid #555;

padding:10px 20px;

cursor:pointer;

}


button:hover{

background:#900;

}



main{

padding:25px;

}



.file{

border:1px solid #444;

padding:20px;

margin:15px 0;

background:#111;

}



.hidden{

display:none;

}



footer{

padding:20px;

text-align:center;

color:#666;

font-size:12px;

}
