*{
box-sizing:border-box;
}


body{

background:#080808;

color:#ddd;

font-family:
"Microsoft JhengHei",
monospace;

margin:0;

}


header{

text-align:center;

padding:15px 10px 10px;

}


h1{

color:#fff;

letter-spacing:3px;

}


.status{

margin-top:20px;

color:#aaa;

border-left:3px solid #900;

padding-left:15px;

}


.logo{

margin:0 0 8px;

}

/* 算了就放這裡吧，qwq */

.logo img{

width:70px;

height:auto;

}


nav{

display:flex;

gap:10px;

padding:15px;

background:#111;

}



button{

background:#222;

color:white;

border:1px solid #555;

padding:10px 20px;

cursor:pointer;

}


button:hover{

background:#900;

}



main{

padding:25px;

}



.file{

border:1px solid #444;

padding:20px;

margin:15px 0;

background:#111;

}



.hidden{

display:none;

}



footer{

padding:20px;

text-align:center;

color:#666;

font-size:12px;

}




.login-btn{

position:absolute;

right:20px;

top:20px;

background:#222;

border:1px solid #777;

color:white;

padding:8px 15px;

}


.login-btn:hover{

background:#900;

}


#postArea{

display:none;

background:white;

color:black;

padding:20px;

margin:30px;

border:1px solid #555;

}


#postArea input,
#postArea textarea{

width:100%;

margin:10px 0;

padding:10px;

}


#loginBox{

display:none;

position:fixed;

top:50%;

left:50%;

transform:translate(-50%,-50%);

background:#111;

border:1px solid #777;

padding:25px;

z-index:20;

}


#loginBox input{

display:block;

margin:10px;

padding:10px;

}
